{% extends "base.html" %}

{% block title %}
	{{title}}
{% endblock title %}

{% block mainBody %}
<h1>{{title}}</h1>
		<div class="row">
		{% for x in the_object_list %}
			<div class="col-sm-6 col-sm-offset-3">
				<div class="thumbnail">
				{% if x.image %}
				<img src="{{x.image.url}}" alt="" class="img-responsive">					
				{% endif %}
					<div class="caption">
						<h3><a href="{{x.get_absolute_url}}">{{x.title}}</a><small> {{x.timestamp| timesince }} ago</small></h3>
						<p>{{x.content| linebreaks|truncatechars:100}}</p>
						<p><a href="{{x.get_absolute_url}}" class="btn btn-primary" role="button">View</a></p>
					</div>
				</div>
			</div>
		{%endfor%}
		</div>

<div class="pagination">
    <span class="step-links">
        {% if the_object_list.has_previous %}
            <a href="?page={{ the_object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ the_object_list.number }} of {{ the_object_list.paginator.num_pages }}
        </span>

        {% if the_object_list.has_next %}
            <a href="?page={{ the_object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock mainBody %}
